body {
    background-color: black;
    margin: 0px;
    overflow: hidden;
}

.clockControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.timeControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 100%;
    gap: 8px;
}

.pointControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    gap: 8px;
}

.mono-large {
    font-family: "Space Mono", monospace;
    font-size: 48px;
    line-height: 48px;
    color: white;
    margin-top: 0px;
    margin-bottom: 8px;
}

.mono-small {
    font-family: "Space Mono", monospace;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 480px) {

    .mainWrapper {
        display: flex;
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .primaryButton {
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: black;
        background-color: white;
        border: none;
        border-radius: 8px;
        width: 100%;
    }

    .primaryButton:hover {
        background-color: #E5E5E5;
    }

    .primaryButton:active {
        background-color: #CCCCCC;
    }

    .primaryButton:disabled {
        color: #5F5F5F;
        background-color: #141414;
    }

    .secondaryButton {
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: white;
        background-color: #292929;
        border: none;
        border-radius: 8px;
        width: 100%;
    }

    .secondaryButton:hover {
        background-color: #3D3D3D;
    }

    .secondaryButton:active {
        background-color: #525252;
    }

    .secondaryButton:disabled {
        color: #5F5F5F;
        background-color: #141414;
    }

    .scoreboard {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
    }

    .digitDisplay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        background-color: #141414;
        border: none;
        border-radius: 8px;
    }

    .team {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 24px;
        width: 100%;
    }

    .clock {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .secondControls {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .addSeconds {
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;
        width: 100%;
        gap: 8px;
    }

    .subtractSeconds {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 8px;
    }

}

@media (min-width: 481px) {

    .mainWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 640px;
        height: 100vh;
    }

    .primaryButton {
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: black;
        background-color: white;
        border: none;
        border-radius: 8px;
    }

    .primaryButton:hover {
        background-color: #E5E5E5;
    }

    .primaryButton:active {
        background-color: #CCCCCC;
    }

    .primaryButton:disabled {
        color: #5F5F5F;
        background-color: #141414;
    }

    .secondaryButton {
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: white;
        background-color: #292929;
        border: none;
        border-radius: 8px;
    }

    .secondaryButton:hover {
        background-color: #3D3D3D;
    }

    .secondaryButton:active {
        background-color: #525252;
    }

    .secondaryButton:disabled {
        color: #5F5F5F;
        background-color: #141414;
    }

    .scoreboard {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .digitDisplay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .clock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .secondControls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        gap: 8px;
    }

    .addSeconds {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .subtractSeconds {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

}